
@font-face {
  font-family: 'digital-7-mono-italic';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/digital-7/digital-7-mono-italic.woff') format('woff');
}
    

@font-face {
  font-family: 'digital-7-mono-mono';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/digital-7/digital-7-mono.woff') format('woff');
}
    

@font-face {
  font-family: 'digital-7';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/digital-7/digital-7.woff') format('woff');
}
    

@font-face {
  font-family: 'digital-7-italic';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/digital-7/digital-7-italic.woff') format('woff');
}

